<h1>Shopping List</h1>
<table>
  <tr>
    <th>Item</th>
    <th>Amount</th>
  </tr>
  <tbody>
    <tr *ngFor="let ingredient of ingredients">
      <td data-th="Item">{{ingredient.name}}</td>
      <td data-th="Amount">{{ingredient.amount}} {{ingredient.size}}</td>
      <td><button (click)="delete(ingredient)">X</button></td>
    </tr>
  </tbody>
</table>
<div class="form-container">
  <form *ngIf="active" (ngSubmit)="onSubmit(myForm.value)" [formGroup]="myForm">
    <div class="group">
      <input type="text" required [formControl]="myForm.controls['name']">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Item</label>
    </div>
    <div class="group">
      <input type="number" required [formControl]="myForm.controls['amount']">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Amount</label>
    </div>
    <div class="group">
      <input type="text" [formControl]="myForm.controls['size']">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Measurement</label>
    </div>
    <button type="submit" class="btn">Add</button>
  </form>
</div>